@mixin new-transition($transitionvalues:$base-transition) {
	@include prefixer(transition, $transitionvalues, webkit moz ms o spec);
}

@mixin new-transform($property) {
	@include prefixer(transform, $property, webkit moz ms o spec);
}

@mixin background-opacity($color: $brand-primary, $opacity: 0.3) {
	background: $color; /* The Fallback */
	background: rgba($color, $opacity);
}

@mixin new-hyphens() {
	@include prefixer(hyphens, auto, webkit moz ms spec)
}

@mixin centerer() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin hideImage() {
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center 10%;
	opacity: 0;
	@include new-transition(all .5s ease-out);
	@include new-transform(scale(0));
}

@mixin showImage() {
	opacity: 1;
	@include new-transform(scale(1));
}

@mixin filterButtons(){
	ul {
		padding: 0;
		margin-top: 80px;
		margin-bottom: 10px;
	}
	li {
		list-style: none;
		display: inline-block;
		padding-right: 15px;
		position: relative;
		text-transform: uppercase;
		cursor: pointer;
		@include new-transition($base-transition);
		&:after {
			content: '';
			@include position(absolute, 4px 5px null null);
			height: 15px;
			background: $ofb-gray;
			width: 2px;
		}
		&.active, &:hover {
			color: $brand-primary;
		}
	}
}


@mixin pageHeader($url) {
	height: 500px;
	width: 100%;
	background: url($url) no-repeat;
	position: relative;
	background-attachment: fixed;
	background-size: cover;

	.inner-header {
		@include page-container();
		height: 100%;
	}
	h1 {
		color: $white;
		font-size: $xbig-font-size;
		margin: 0;
		@include position(absolute, null null 80px 0);
	}
	@media all and(max-width: $large-screen) {
		height: 400px;
		h1 {
			bottom: 30px;
			left: $page-padding;
			// font-size: $xmbig-font-size;
		}

	}

	@media all and(max-width: $medium-screen) {

		background-attachment: unset;

		h1 {
			font-size: $xxmbig-font-size;
			}
	}

	@media all and (max-width: $small-screen){

		height: 300px;

		h1 {
			font-size: $mbig-font-size;
		}

	}

	@media all and (max-width: $xsmall-screen){

		h1 {
			left: $page-padding-small - 2px;
		}

	}

	@media all and (max-width: $xxsmall-screen){

		h1 {
			font-size: $big-font-size-50;
		}

	}


}

@mixin sliderController(){
	.button {

		@include icon('icon-arrow');
		&:before {
			font-size: $icon-big-font-size;
			@include position(absolute, 11px 20px mull null);
		}
		text-transform: uppercase;
		width: 82px;
		height: 82px;
		line-height: 82px;
		border: 1px solid $ofb-gray;
		@include position(absolute, 80px -90px null null);
		cursor: pointer;

		&.prev, &.next {
			@include icon('icon-arrow');
			&:before {
				line-height: $btn-big-size;
			}
		}
		&.prev {
			left: -90px;
			right: auto;
			&:before {
				@include new-transform(rotate(180deg));
				top: 10px;
			}

		}
	}

	.controller {
		width: 100%;
		height: 20px;
		z-index: 2;
		text-align: center;
		@include position(absolute, 172px null null);
		div {
			display: inline-block;
			margin: 0 auto;
			height: 100%;
			div {
				width: 4px;
				background: $ofb-gray;
				height: 100%;
				float: left;
				margin-right: 10px;
				cursor: pointer;
				&.active {
					background: $ofb-green;
				}
			}
		}
	}
}

@mixin footer-info(){
	position: relative;
	padding-left: 28px;
	padding-bottom: 1px;
	margin-top: 25px;
	b {
		text-transform: uppercase;
	}
	p {
		color: $brand-primary;
		&:last-child {
			margin-bottom: 12px;
		}
	}
	h4 {
		color: $ofb-gray;
		font-weight: $regular-font-weight;
	}
	&:before {
		content: '';
		@include position(absolute, 3px null null 0);
		width: 6px;
		background: $ofb-gray;
		height: 100%;
	}
}