

@import "forms";

* {
	-moz-hyphens: auto;
	hyphens: auto;
}

body {
	//font-family: open-sans, Arial, Helvetica, SansSerif;
	font-family: $base-font-family;
	color: $gray;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-size: $font-size;
	margin-top: 0;
	font-weight: 900;
	color: $gray;
}
