.tasks {
	width: 100px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 3px;
}

.form-group {
	input {
		width: 100px;
		border-radius: 5px;
	}
}

.board {
	display: flex;
	margin-left: 100px;
}

.column {
	flex: 1;
}

cdk-drop {
	display: block;
}

.todo {
	min-height: 50px;
	background: #ff00ff;
}

.weekdays > div {
	background: #fefe;
	border: 1px solid #eee;
	min-height: 50px;
}

.cdk-drop-dragging .cdk-drag {
	transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
	transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);

}

.cdk-drag-placeholder {
	opacity: 0;
}

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}


