<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Weekplan
  </h1>
</div>
<h1>Basic</h1>
<div cdkDrag class="basic">
  I'm Draggable
  <div cdkDragHandle class="handler"></div>
</div>

<h1>Sorting</h1>

<cdk-drop (dropped)="onDrop($event)" class="list-sorted">
  <div *ngFor="let item of items" cdkDrag class="list-sorted__item">
    {{item}}
  </div>
</cdk-drop>

<p>{{items | json}}</p>


<!-- <div #dragRoot class="alternate-root" style="width: 200px; height: 200px; background: hotpink">
  <div cdkDrag cdkDragRootElement=".alternate-root" #dragElement style="width: 100px; height: 100px; background: red;"></div>
</div> -->


