@import "src/include.scss";
.page {
	padding: 3px;
}
.tasks {
	width: 15%;
	@include position(fixed, 0 null null 0);
	padding: 3px;
	height: 100vh;
	overflow: auto;
}

.board {
	display: flex;
	margin-left: 15%;
	font-size: $font-size;
	margin-bottom: 10px;
}

.column {
	flex: 1;
}

cdk-drop {
	display: block;
}

.todo {
	min-height: 50px;
	background: #eee;
	padding: 3px;
}

.item {
	padding: 3px;
	font-size: $font-size;
	color: #ffffff;
	margin-bottom: 3px;
}

.red {
	background-color: $red;
}
.yellow {
	background-color: $yellow;
}
.green {
	background-color: $green;
}
.blue {
	background-color: $blue;
}
.pink {
	background-color: $pink;
}

.trash {
	@include position(fixed, null 3px 3px null);
	width: 20px;
	height: 20px;
	background: #eb0000;
	text-align: center;
	z-index: 5;
}


.weekdays > div {
	background: #efefef;
	border: 1px solid #cccc;
	min-height: 50px;
	padding: 3px;
}

.cd {
	font-size: $font-size;
	padding: 5px 3px;
}


.cdk-drop-dragging .cdk-drag {
	// transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
	//transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);

}

.cdk-drag-placeholder {
	background: #ccc;
	color: #ccc;
}

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}


